html, body {
    height: 100%;
    margin: 0;

    font-size: 16px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    background: white; /* Old browsers */

    background-size: cover;
    background-repeat: no-repeat;
}

#serviiris-web-app {
    display: flex;
    flex-flow: column;
    height: 100%;
}

.padding-side-0 {
    padding-right:0;
    padding-left:0;
}

.bg-transparent {
    background-color: transparent;
}


.bg-iris-yellow {
    background-color: #FFF308;
}

.bg-iris-purple {
    background-color: #5425BA;
}

/* === GENERAL RULES === */
body {
    /* To have the footer be sticky, 
    use these 2 rules: */
 display: -webkit-box;
 display: -ms-flexbox;
 display: flex;
 -webkit-box-orient: vertical;
 -webkit-box-direction: normal;
     -ms-flex-direction: column;
         flex-direction: column;

 /* min-height: 100vh; */

 font-size: 16px;
 font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
 -webkit-font-smoothing: antialiased;
 background: white; /* Old browsers */

 background-size: cover;
 background-repeat: no-repeat;
}

* {
 -webkit-box-sizing: border-box;
         box-sizing: border-box;
}

*:before,
*:after {
 -webkit-box-sizing: border-box;
         box-sizing: border-box;
}

html,
body {
 position: relative;

 /* To have the footer be sticky, 
    use there rules: */
 width: 100%;
 height: 100%;
}

#root {
 height: 100%;
}

#root > * {
 overflow-x: hidden;
 /* overflow-y: auto; */

 position: relative;
 -webkit-box-flex: 1;
     -ms-flex: 1;
         flex: 1; /* Have all  children elements of the root take up the same amount of space */
 /* display: flex;
 flex-direction: column; */
}

.flex-img-center {
 display: -webkit-box;
 display: -ms-flexbox;
 display: flex;
 -webkit-box-pack: center;
     -ms-flex-pack: center;
         justify-content: center;
 -ms-flex-item-align: center;
     align-self: center;

 margin: 0 auto;
}

.no-padding {
 padding: 0px;
}

.fill {
 min-height: 100vh;
 height: 100%;
}

.max-width-100 {
 width: auto;
 max-width: 100%;
 margin: 0 auto; /* Center horizontally */
}

.lightGreen-gradient { /* FF3.6-15 */ /* Chrome10-25,Safari5.1-6 */
 background: -webkit-gradient(linear,  left top, left bottom,  from(#ffffff),to(#b7df2d));
 background: -o-linear-gradient(top,  #ffffff 0%,#b7df2d 100%);
 background: linear-gradient(to bottom,  #ffffff 0%,#b7df2d 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#b7df2d',GradientType=0 ); /* IE6-9 */
}

.pink-purple-blue-gradient {
 /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#dc0181+0,091c8e+50,005cbe+100 */
 background: #dc0181; /* Old browsers */ /* FF3.6-15 */ /* Chrome10-25,Safari5.1-6 */
 background: -o-linear-gradient(315deg,  #dc0181 0%,#091c8e 50%,#005cbe 100%);
 background: linear-gradient(135deg,  #dc0181 0%,#091c8e 50%,#005cbe 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dc0181', endColorstr='#005cbe',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.flex-center {
 margin: 0 auto;
 display: -webkit-box;
 display: -ms-flexbox;
 display: flex;
 -webkit-box-orient: vertical;
 -webkit-box-direction: normal;
     -ms-flex-direction: column;
         flex-direction: column;
 -webkit-box-pack: center;
     -ms-flex-pack: center;
         justify-content: center;
 -ms-flex-line-pack: center;
     align-content: center;
 -ms-flex-item-align: center;
     align-self: center;
}

#footer-nav.flex-center-row,
.flex-center-row {
 margin: 0 auto;
 display: -webkit-box;
 display: -ms-flexbox;
 display: flex;
 -webkit-box-orient: horizontal;
 -webkit-box-direction: normal;
     -ms-flex-direction: row;
         flex-direction: row;
 -webkit-box-pack: center;
     -ms-flex-pack: center;
         justify-content: center;
 -ms-flex-line-pack: center;
     align-content: center;
 -ms-flex-item-align: center;
     align-self: center;
}

.margin-center {
 margin: 0 auto;
}

/* Remove slider from input type numbers */
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}

input[type=number] {
    -moz-appearance:textfield;
}

main.page-content {
 min-height: 100%;
 display: -webkit-box;
 display: -ms-flexbox;
 display: flex;
 -webkit-box-orient: vertical;
 -webkit-box-direction: normal;
     -ms-flex-direction: column;
         flex-direction: column;
 -webkit-box-align: stretch;
     -ms-flex-align: stretch;
         align-items: stretch;
 /* margin-bottom: 120px;  */
 /* Height of footer */
}

/* == React Router Transition */
.switch-wrapper {
 position: relative;
}

.switch-wrapper > div {
 width: 100%;
 position: absolute;
}

.mobileFixedIcons {
 display: none;
 font-size: 2em;
 width: auto;
 position: fixed;
 z-index: 1;
 top: 90%;
 left: 5%;
 padding: 10px;
 border-radius: 30px;
 border-width: 3px; 
 border-style: solid;
}

#mobileEmail-fixedIcon {
 left: 80%;
}

@media only screen and (max-width: 830px) {
 .mobileFixedIcons {
     display: block;
 }
}

@media only screen and (max-width: 575px) {
 /* .switch-wrapper { */
     /* margin-top: 111px; Equal to the height of the header */
 /* } */

 #root header.headerAndNav {
     position: relative;
     width: 100%;
     z-index: 1;
 }
}

.whiteBG-greenBorder {
 color: green;
 background-color: white;
 border-color: green;
}

.greenBG-whiteBorder {
 color: white;
 background-color: green;
 border-color: white;
 /* blue - #0087db */
}

.purpleBG-greenBorder {
 color: white;
 background-color: #091e8f;
 border-color: white;
}

.greenShadow {
 -webkit-box-shadow: 3px 3px 33px 1px rgba(0,93,23,1);
 box-shadow: 3px 3px 33px 1px rgba(0,93,23,1);
}

.purpleShadow {
 -webkit-box-shadow: 3px 3px 33px 1px rgba(0,143,232,1);
 box-shadow: 3px 3px 33px 1px rgba(0,143,232,1);
}

/* === HEADER === */

header.headerAndNav {
 display: block;
}

section.header-section {
 margin: 0 auto;
}

header.header {
 width: 100%;
 display: -webkit-box;
 display: -ms-flexbox;
 display: flex;
 -webkit-box-orient: horizontal;
 -webkit-box-direction: normal;
     -ms-flex-direction: row;
         flex-direction: row;
 -ms-flex-wrap: wrap;
     flex-wrap: wrap;
 -webkit-box-pack: center;
     -ms-flex-pack: center;
         justify-content: center;
 -webkit-box-align: center;
     -ms-flex-align: center;
         align-items: center;

 background-image: url("../assets/img/harza-ondas.svg");
 background-color: white; /* #C9E763 */
 background-size: cover;
 background-repeat: no-repeat;
 background-position: center;
 height: 110px;
 margin-bottom: 33px;
}

@media only screen and (min-width: 516px) and (max-width: 691px) {
 header.header {
     height: 75px;
     margin-bottom: 68px;
 }
}

@media only screen and (max-width: 575px) {
 header.header {
     height: 55px;
     margin-bottom: -10px;
 }
}

.headerImage-quote-container {
 display: -webkit-box;
 display: -ms-flexbox;
 display: flex;
 -ms-flex-item-align: center;
     align-self: center;
 margin-left: auto;
 margin-top: 10px;
 /* background-color: #006726; */
 border-radius: 100%;
 opacity: 1.0;
 width: 100%;
 -webkit-box-orient: vertical;
 -webkit-box-direction: normal;
     -ms-flex-direction: column;
         flex-direction: column;
}

@media only screen and (max-width: 575px) {
 .headerImage-quote-container {
     display: none;
 }
}

.header-logo-container {
    width: 620px;
    position: relative;
    margin: 0 auto;
    text-align: center;
    max-width: 100%;
}

/* === NAVIGATION === */
.header-logo-container-safari {
    width: 620px;
    position: relative;
    margin: 0 auto;
    text-align: center;
    max-width: 100%;
    margin-top: 50px;
}

.header-image {
    max-width: 300px;
    margin: 0 auto;
    /* -webkit-box-shadow: 15px 15px 45px 0px rgba(129,185,94,1);
    -moz-box-shadow: 15px 15px 45px 0px rgba(129,185,94,1);
    box-shadow: 15px 15px 45px 0px rgba(129,185,94,1); */
   } 

.navigation {
 margin-top: 10px;
}

.collapsedNav-logo img {
 width: 150px;
}

.navbar {
 /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#6ab335+0,006726+100 */
 background: #dc0181; /* Old browsers */ /* FF3.6-15 */ /* Chrome10-25,Safari5.1-6 */
 background: -o-linear-gradient(315deg,  #dc0181 0%,#091c8e 50%,#005cbe 100%);
 background: linear-gradient(135deg,  #dc0181 0%,#091c8e 50%,#005cbe 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dc0181', endColorstr='#005cbe',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

 /* margin-top: 10px; */
}
/* NavBar Toggle */
.collapsedNav-logo.navbar-brand {
 display: none;
}

.mr-auto.navbar-nav {
 margin: 0 auto;
}

@media only screen and (max-width: 575px) {
 .collapsedNav-logo.navbar-brand {
     display: block;
 }
}

.icon-bar {
 width: 22px; 
 height: 2px;
 background-color: #B6B6B6;
 display: block;
 -webkit-transition: all 0.2s;
 -o-transition: all 0.2s;
 transition: all 0.2s;
 margin-top: 4px
}

.navbar-toggler {
border: none;
background: transparent !important;
}


.navbar-toggler .top-bar {
 -webkit-transform: rotate(45deg);
     -ms-transform: rotate(45deg);
         transform: rotate(45deg);
 -webkit-transform-origin: 10% 10%;
     -ms-transform-origin: 10% 10%;
         transform-origin: 10% 10%;
}

.navbar-toggler .middle-bar {
 opacity: 0;
}

.navbar-toggler .bottom-bar {
 -webkit-transform: rotate(-45deg);
     -ms-transform: rotate(-45deg);
         transform: rotate(-45deg);
 -webkit-transform-origin: 10% 90%;
     -ms-transform-origin: 10% 90%;
         transform-origin: 10% 90%;
}

.navbar-toggler.collapsed .top-bar {
 -webkit-transform: rotate(0);
     -ms-transform: rotate(0);
         transform: rotate(0);
}

.navbar-toggler.collapsed .middle-bar {
 opacity: 1;
}

.navbar-toggler.collapsed .bottom-bar {
 -webkit-transform: rotate(0);
     -ms-transform: rotate(0);
         transform: rotate(0);
}

 
.nav-search-icon {

}

@media only screen and (max-width: 575px) {
 .navbar {
     background-color: green;
 }
}

.navLinks,
.navbar-dark .navbar-nav .nav-link {
 color: white;
 font-size: 1em;
 text-transform: uppercase;
 opacity: 1.0;
 /* border-right: solid 1px white; */
 padding-right: 10px;
 padding-bottom: 0px;
}

/* TODO: Find way to not have to use important label */
.navbar-dark .navbar-nav .nav-link:hover,
.navLinks:hover, .navLink-current {
 color: #FFB914 !important;
}

/* @media only screen and (max-width: 991px) {
 .navLinks,
 .navbar-dark .navbar-nav .nav-link { 
     font-size: 0.6em;
 }  
} */
